[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
openai = "*"
langchain-openai = "*"
gpt4all = "*"
notebook = "*"
chromadb = "*"
sentence-transformers = "*"
langchain-experimental = "*"
lark = "*"
beautifulsoup4 = "*"
chainlit = "*"

[dev-packages]

[requires]
python_version = "3.9"
